.example-cat {
  position: relative;

  @media (max-width: $large) {
    border-top: 2px solid $border-color-alternate;
    padding-top: 43px;
  }

  @media (max-width: $medium) {
    border-top: none;
    background-color: $third-gray;
    padding-top: 27px;
  }

  // example-cat__wrapper
  &__wrapper {
    background-color: $main-gray;
    padding-top: 70px;
    padding-bottom: 70px;
    position: relative;

    @media (max-width: $large) {
      padding-top: 30px;
    }

    @media (max-width: $medium) {
      padding-top: 0;
    }
  }

  // example-cat__info
  &__info {
    @media (max-width: $extra-large) {
      display: flex;
      flex-direction: column;
    }
  }

  // example-cat__title
  &__title {
    margin-bottom: 76px;

    @media (max-width: $large) {
      margin-bottom: 33px;
    }
  }

  // example-cat__text
  &__text {
    font-family: $arial;
    margin-bottom: 69px;
    width: 436px;

    @media (max-width: $extra-large) {
      width: 100%;
      margin-bottom: 54px;
    }

    @media (max-width: $medium) {
      font-size: $little-size;
      line-height: 18px;
      margin-bottom: 25px;
    }
  }

  // example-cat__content
  .example-cat__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 366px;

    @media (max-width: $extra-large) {
      width: 100%;
    }

    @media (max-width: $medium) {
      max-width: 280px;
      align-self: center;
      justify-content: space-between;
    }
  }

  // example-cat__content-weight
  .example-cat__content-weight,
  .example-cat__content-time {
    position: relative;
    border: 1px solid $border-color;
    border-radius: 3px;
    width: 162px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0 20px;

    @media (max-width: $medium) {
      width: 124px;
      padding: 14px 0 17px;
    }
  }

  .example-cat__content-weight {
    margin-right: 42px;

    @media (max-width: $medium) {
      margin-right: 31px;
      margin-right: 0;
    }
  }

  &__content-weight span:nth-child(1) {
    font-size: $strong-size;
    line-height: $third-title-interlining;
    text-transform: uppercase;

    @media (max-width: $medium) {
      font-size: 24px;
      line-height: $main-interlining;
    }
  }

  &__content-weight span:nth-child(2) {
    font-size: $little-size;
    line-height: $little-interlining;
    color: $secondary-gray;
    font-family: $arial;

    @media (max-width: $medium) {
      font-size: 12px;
      line-height: 12px;
      width: 66px;
      text-align: center;
    }
  }

  // example-cat__content-time
  &__content-time span:nth-child(1) {
    font-size: $strong-size;
    line-height: $third-title-interlining;
    text-transform: uppercase;

    @media (max-width: $medium) {
      font-size: 24px;
      line-height: $main-interlining;
    }
  }

  &__content-time span:nth-child(2) {
    font-size: $little-size;
    line-height: $little-interlining;
    color: $secondary-gray;
    font-family: $arial;

    @media (max-width: $medium) {
      font-size: 12px;
      line-height: 12px;
      width: 66px;
      text-align: center;
    }
  }

  .example-cat__content-weight>span:nth-child(2),
  .example-cat__content-time>span:nth-child(2) {
    position: absolute;
    top: 63px;
    background-color: $main-gray;

    @media (max-width: $medium) {
      top: 48px;
    }
  }

  // example-cat__content-food-cost
  &__content-food-cost {
    display: flex;
    flex-wrap: wrap;
    font-size: $secondary-size;
    line-height: 20px;
    margin-top: 55px;
    text-transform: uppercase;

    @media (max-width: $extra-large) {
      flex-direction: column;
      margin-left: auto;
      margin-top: 0;
      text-align: right;
    }

    span:nth-child(1) {
      margin-right: 63px;

      @media (max-width: $extra-large) {
        margin-right: 0;
        margin-bottom: 9px;
      }

      @media (max-width: $medium) {
        margin-right: 5px;
      }
    }

    @media (max-width: $medium) {
      flex-direction: row;
      margin-left: 0;
      margin-top: 30px;
      font-size: $little-size;
      line-height: 20px;

      margin-left: auto;
      margin-right: auto;
    }
  }

  // example-cat__slider-container
  &__slider-container {
    position: absolute;
    top: -29%;
    left: 44%;
    width: 650px;

    @media (max-width: 1199px) {
      position: static;
      margin-top: 119px;
      margin-left: auto;
      margin-right: auto;
    }

    @media (max-width: $medium) {
      max-width: 311px;
      margin-top: 100px;
      margin-left: auto;
      margin-right: auto;
    }

    @media (max-width: $small) {
      width: 90vw;
    }
  }
}