.how-it-works {
  margin-bottom: 66px;

  @media (max-width: $large) {
    margin-bottom: 47px;
  }

  @media (max-width: $medium) {
    margin-bottom: 42px;
  }

  // how-it-works__title
  &__title {
    margin-bottom: 32px;

    @media (max-width: $medium) {
      font-size: $third-title;
      line-height: 40px;
      margin-bottom: 38px;
      text-align: center;
    }
  }

  // how-it-works__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: $large) {
      max-width: 768px;
    }

    @media (max-width: $medium) {
      flex-direction: column;
    }
  }

  // how-it-works__item
  &__item {
    display: flex;
    align-items: flex-end;
    max-width: 265px;
    min-height: 280px;
    padding-bottom: 57px;

    @media (max-width: $medium) {
      padding: 0;
      max-width: 278px;
      min-height: 60px;
      padding-left: 80px;
      align-self: center;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  // how-it-works__item-text
  &__item-text {
    font-family: $arial;

    @media (max-width: $medium) {
      font-size: $little-size;
      line-height: 18px;
    }
  }

  &__item:nth-child(1) {
    background-image: url('../img/background/desktop/how-it-works1.png'), url('../img/background/desktop/1.png');

    background-repeat: no-repeat, no-repeat;
    background-size: 80px 80px, 71px 227px;
    background-position: 0 22%, 71% 80%;
    padding-right: 30px;

    @media (max-width: $medium) {
      background-image: url('../img/background/mobile/how-it-works1-mobile.png');
      background-size: 60px, 60px;
      padding-right: 0;
    }
  }

  &__item:nth-child(2) {
    background-image: url('../img/background/desktop/how-it-works2.png'), url('../img/background/desktop/2.png');
    background-repeat: no-repeat, no-repeat;
    background-size: 80px 80px, 113px 229px;
    background-position: 0 22%, 92% 80%;
    padding-right: 20px;

    @media (max-width: $medium) {
      background-image: url('../img/background/mobile/how-it-works2-mobile.png');
      background-size: 60px, 60px;
      padding-right: 0;
    }
  }

  &__item:nth-child(3) {
    background-image: url('../img/background/desktop/how-it-works3.png'), url('../img/background/desktop/3.png');
    background-repeat: no-repeat, no-repeat;
    background-size: 80px 80px, 112px 232px;
    background-position: 0 22%, 96% 80%;
    padding-right: 20px;

    @media (max-width: $medium) {
      background-image: url('../img/background/mobile/how-it-works3-mobile.png');
      background-size: 60px, 60px;
      padding-right: 0;
    }
  }

  &__item:nth-child(4) {
    background-image: url('../img/background/desktop/how-it-works4.png'), url('../img/background/desktop/4.png');
    background-repeat: no-repeat, no-repeat;
    background-size: 80px 80px, 121px 227px;
    background-position: 0 22%, 80% 80%;
    padding-right: 20px;

    @media (max-width: $medium) {
      background-image: url('../img/background/mobile/how-it-works4-mobile.png');
      background-size: 60px, 60px;
      padding-right: 0;
    }
  }
}