.promo {
  min-height: 556px;
  background-image: url('../img/background/desktop/desktop-promo-cat-bgc.png'), url('../img/background/desktop/desktop-promo-cat-bgc.png');
  background-repeat: no-repeat, no-repeat;
  background-size: contain, cover;
  background-position: right top, 50vw top;
  margin-top: -150px;
  padding-top: 140px;
  margin-bottom: 82px;

  @media (max-width: $extra-large) {
    background-image: none;
    margin-bottom: 0;
  }

  // promo__content
  &__content {
    width: 447px;
    padding: 0;
  }

  // promo__wrapper
  &__wrapper {
    padding-left: 80px;
  }

  // promo__title
  &__title {
    margin-bottom: 40px;
  }

  // promo__desc
  &__desc {
    font-size: $secondary-size;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 52px;
    padding: 0;

    @media (max-width: $extra-large) {
      margin-bottom: 49px;
    }
  }

  // promo__image
  &__image {
    padding: 0;
    transform: translateX(-78px);

    @media (max-width: $extra-large) {
      width: 709px;
      height: 609px;
      transform: translate(-87px, -85px);
      z-index: -100;
    }
  }
}